
.badge {
    width: fit-content;
    padding-right: 10px;
    border-radius: 1rem;
    font-size: 0.6rem;
    box-shadow: 0px 8px 20px -5px rgb(11, 11, 11);
}

.badge img {
    height: 14px;
    width: 14px;
    margin-right: 5px;
}

.big .badge {
    font-size: 1rem;
    padding-right: 15px;
    border-radius: 15rem;
}

.big .badge img {
    height: 25px;
    width: 25px;
    margin-right: 9px;
}

.pc {
    color: black;
    background-color: silver;
}

.pc img {
    filter: invert(100%);
}

.phone {
    color: white;
    background-color: #c75600;
}

.android {
    color: black;
    background-color: #3DDC84;
}

.ios {
    background-color: lightgray;
    color: black;
}

.ios img {
    filter: invert(100%);
}

.android img {
    filter: invert(100%);
}

.ps4, .ps5 {
    color: white;
    background-color: #0072ce;
}

.xboxone {
    color: white;
    background-color: #107c10;
}

.switch {
    color: white;
    background-color: #df0808;
}

.n64 {
    background-color: #f7ba01;
    color: black;
}

.n64 img {
    filter: invert(100%);
}