.gameCover {
    height: 20vh;
    width: 17vh;
    margin: 10px;
}
.gameCover img {
    width: 100%;
    height: 20vh;
    object-fit: cover;

    border-radius: 0.2rem
}

.badge {
    width: fit-content;
    margin-right: 5px;

    font-size: 0.6rem;
}

.phone {
    color: white;
    background-color: #c75600;
}

.ps4 {
    color: white;
    background-color: navy;
}

.xo {
    color: white;
    background-color: green;
}