.time-main {
    /* border: 1px black dashed; */
    min-height: 3rem;
    padding: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    display: table-row;
    border-radius: 0.3rem;
    background-color: darkgreen;
    text-align: center;
    transition: all 0.2s ease-out;
}

.time-main > div {
    display: table-cell;
}

.time-index {
    /* margin-left: 5px; */
    font-weight: bold;
    width: 5%;
}

.time-index img {
    height: 25px;
    width: 25px;
}

.time-user {
    width: 25%;
}

.time-time {
    width: 15%;
    text-align: center;
}

.time-type {
    width: 5%
}

.time-platform {
    width: 8%;
}

.time-date {
    width: 20%;
}

.time-game {
    width: 30%;
    margin-left: 2rem;
    text-decoration: none;
}
 
.time-game img{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 0.2rem;
    margin-right: 10px;
    box-shadow: 1px 1px 6px black;
}

.time-verified {
    width: 8%;
    
}

.time-verified img {
    height: 25px;
}

.time-hidden-index {
    width: 0%;
}


.time-main a {
    text-decoration: none;
    color: white;
}

.time-main a:hover {
    color: lightgray;
}
