.all-games-list {

}

.all-games-list > * {
    height: 20rem;
    width: 14rem;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px black;
    transition: ease-in all 0.3s;
}

.all-games-list > *:hover {
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.628);
}