.main {
    min-height: 100vh;
    
    background-image: url("../../assets/images/background/space-background.png");
    background-size: 40%;
    
}

.content {
    margin: 3rem;
    padding: 1rem;

    border-radius: 0.3rem;

    background-color: rgba(4, 114, 83, 0.558);
}

.loader {
    visibility: collapse;
    position: absolute;
}

.loading-text {
    font-size: 2.4rem;
    position: fixed;
    z-index: 1000;
    text-align: center;
    padding-top: 45vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.388);
}

.loading-hidden {
    visibility: hidden;
}