.main {
    min-height: 100vh;
    
    background-image: url("../../assets/images/background/space-background.png");
    background-size: 40%;
    
}

.content {
    margin: 3rem;
    padding: 1rem;

    border-radius: 0.3rem;

    background-color: rgba(4, 114, 83, 0.558);
}

.loader {
    visibility: collapse;
    position: absolute;
}

.loading {
    filter: brightness(50%)
}

.loading-text {
    font-size: 2.4rem;
    position: fixed;
    z-index: 1000;
    text-align: center;
    width: 100%;
    top:45vh;
}

.loading-hidden {
    visibility: hidden;
}