* {
  color: white
}

.bg {
  background-color: rgb(22, 22, 22);
}

.gradient-hover {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.139) 100%);
  filter:opacity(60%);
  transition: 0.5s all ease;
}
.gradient-hover:hover {
  filter:opacity(80%);
}